/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles généraux */
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

/* Navigation */
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: inherit;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

/* Spécifiquement pour le bouton Login/Logout */
.nav-button {
  text-decoration: none;
  color: inherit;
}

.nav-button:hover {
  color: #b1663c;
}

/* Section introduction */
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

/* Section portfolio */
#portfolio {
  text-align: center;
  margin-bottom: 50px;
}

/* Centrer le conteneur du titre */
.portfolio-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Pour le titre et le lien Modifier */
.portfolio-header h2 {
  display: inline-block;
  position: relative;
  font-family: "Syne", sans-serif;
  font-size: 30px;
  color: #1d6154;
}

/* Positionnement du lien Modifier */
.link-modifier {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 40px;
  position: absolute;
  right: -120px;
  top: 40%;

  cursor: pointer;
  display: flex;
  align-items: center;
}

.link-modifier:visited {
  color: black;
}

.link-modifier i {
  margin-right: 5px;
}

.link-modifier:hover {
  color: #b1663c;
}
/** Modales**/

/** Overlay**/
.modales {
  width: 100%;
  height: 100%;
  background-color: #00000030;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.modale {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, +10%);
  padding: 0px;
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
/** Modale 1 Gallerie photo **/
.contenu-modale {
  width: 630px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffeff;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 10px;
}

.bouton-fermer {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fffeff;
  display: flex;
  justify-self: right;
}

.modale h2 {
  font-family: "Work Sans";
  color: #000000;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}

.modale .bouton-validation {
  display: flex;
  justify-content: center;
  justify-self: right;
  align-items: center;
}

.modale form {
  margin: 30px;
}

.modale .champs-formulaire {
  width: 440px;
}

.modale .label-formulaire {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
}
.fermeture-modale {
  display: flex;
  justify-content: right;
  width: 630px;
  box-sizing: border-box;
  padding: 20px 30px 20px 30px;
}

.affichage-miniature {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: justify;
  gap: 10px;
  padding: 0px;
  margin: 40px;
  padding-bottom: 50px;
  border-bottom: solid 1px #b3b3b3;
}

.fiche-miniature {
  display: flex;
  flex-direction: column;
  width: 78.13;
  box-sizing: border-box;
  padding: 10px;
}

.icones-fiche-miniature {
  display: flex;
  justify-content: right;
  gap: 2px;
  position: absolute;
  align-self: flex-end;
}

.bouton-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  border: none;
}

#icone-poubelle {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bouton-deplacer {
  justify-content: center;
  width: 21px;
  padding: 0;
  color: transparent;
  border: none;
  background-color: transparent;
}

#bouton-deplacer :hover {
  color: #000000;
}

#icone-deplacer {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background-color: tr;
}

.modale img {
  width: 78.12px;
  height: 104.08px;
}

.ajouter-supprimer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 50px;
}

#supprimer {
  display: flex;
  align-self: center;
  color: #d65353;
}
/* Menu catégories */
.menu-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.boutonsFiltres,
.boutonTous {
  min-width: 100px;
  height: 37px;
  margin: 5px;
  padding: 9px 14px 9px 14px;
  border: 1px solid #1d6154;
  border-radius: 60px;
  background-color: #fff;
  font-family: "Syne", sans-serif;
  color: #1d6154;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.boutonsFiltres:hover,
.boutonTous:hover {
  background-color: #1d6154;
  color: #fff;
}

/* Galerie */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.gallery img {
  width: 100%;
  max-width: 300px;
}

/* Section contact */
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/* Footer */
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Barre noire "Mode édition" */
.black-bar {
  width: 100%;
  height: 59px;
  background-color: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.black-bar i {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

/* Login */
.forgotPassword {
  text-align: center;
}

.forgotpassword a {
  color: #3d3d3d;
}
