/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  max-width: 1140px;
  margin: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles généraux */
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

/* Navigation */
nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  color: inherit;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav li:hover {
  color: #b1663c;
}

/* Bouton Login/Logout */
.nav-button {
  text-decoration: none;
  color: inherit;
}

.nav-button:hover {
  color: #b1663c;
}

/* Section introduction */
#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

/* Section portfolio */
#portfolio {
  text-align: center;
  margin-bottom: 50px;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-header h2 {
  display: inline-block;
  position: relative;
  font-family: "Syne", sans-serif;
  font-size: 30px;
  color: #1d6154;
}

.link-modifier {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 40px;
  position: absolute;
  right: -120px;
  top: 40%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.link-modifier:visited {
  color: black;
}

.link-modifier i {
  margin-right: 5px;
}

.link-modifier:hover {
  color: #b1663c;
}


/* Modales */

/* Overlay */
.modales {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 999;
}

/* Styles communs pour toutes les modales */
.modale {
  width: 630px;
  height: 688px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  background-color: #ffffff;
  opacity: 1;
  z-index: 1000;
  overflow: auto;
  display: none;
}

/* Contenu de la modale */
.contenu-modale {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Fermeture de la modale */
.bouton-fermer,
.bouton-retour {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fermeture-modale,
.retour-fermer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-sizing: border-box;
}

.modale h2 {
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}

/* Modale 1 : Galerie photo */
.affichage-miniature {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 50px;
  border-bottom: solid 1px #b3b3b3;
}

.fiche-miniature {
  display: flex;
  flex-direction: column;
  width: 78.13px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.icones-fiche-miniature {
  display: flex;
  gap: 2px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.bouton-delete,
#bouton-deplacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bouton-delete i {
  color: #ffffff;
  background-color: #000000;
  padding: 5px;
  margin-top: 30px;
  margin-left: 10px;
 
  border-radius:5px ;
  ;
}

#bouton-deplacer i {
  color: transparent;
}

.modale img {
  width: 78.12px;
  height: 104.08px;
}

.editer {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  color: #000;
}

/* Modale 2 : Ajout photo */
#modale2 h2 {
  margin-bottom: 20px;
}
#section-ajout {
  width: 420px;
  height: 169px;
 margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-prev {
  width: 100%;
  width: 420px;
  height: 169px;
  background-color: #e8f1f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

#icone-image {
  font-size: 60px;
  color: #cbd6dc;
  margin-bottom: 10px;
}

/* Bouton "Ajouter une photo" */
#bouton-ajouter-photo {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cbd6dc;
  color: #ffffff;
  border-radius: 60px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

#bouton-ajouter-photo input {
  display: none;
}

#section-ajout p {
  font-size: 12px;
  color: #a7a7a7;
}
.label-champs {
  margin-top: 10px;
}
/* Champs "Titre" et "Catégorie"*/
.titre-champ,
.categorie-champ {
  margin-top:20px;
  

  width: 50px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

.label-champs input,
.label-champs select {
  width: 440px;
  padding: 5px;
  box-sizing: border-box;
  display: block;
}
.separator {
  border-bottom: solid 1px #b3b3b3;
  margin: 20px 0;
  width: 100%; /}
/* Bouton validation de la modale */
.bouton-validation {
  width: auto;
  padding: 10px 20px;
  background-color: #1d6154;
  
  color: #fff;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 20px auto 0 auto;
  display: block;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.bouton-validation.active {
  background-color:#1d6154;
  ; 
  color: white;
}

.bouton-validation.inactive {
  background-color: grey ; 
  color: lightgrey;
  cursor: not-allowed; 
}

.bouton-validation.inactive:hover {
  background-color: inherit !important;
  color: inherit!important;
 
}



/* Menu catégories */
.menu-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}


.boutonsFiltres,
.boutonTous {
  min-width: 100px;
  height: 37px;
  margin: 5px;
  padding: 9px 14px;
  border: 1px solid #1d6154;
  border-radius: 60px;
  background-color: #fff;
  font-family: "Syne", sans-serif;
  color: #1d6154;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.boutonsFiltres:hover,
.boutonTous:hover {
  background-color: #1d6154;
  color: #fff;
}

/* Galerie */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.gallery img {
  width: 100%;
  max-width: 300px;
}

.gallery figure {
  margin: 0;
}

/* Section contact */
#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#contact textarea {
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

#contact label {
  margin: 1em 0 0.5em 0;
}

input[type="submit"] {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #145a44;
}

/* Footer */
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
body.edit-mode {
  margin-top: 80px;
}
/* Barre noire "Mode édition" */
.black-bar {
  position: fixed;
  width: 100vw;
  height: 59px;
  background-color: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20;
  top: 0;
  left: 0;
  padding: 0;
}

.black-bar i {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

/* Login */
.login-body {
  font-family: "Work Sans", sans-serif;
}

#loginform {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#loginform label {
  margin-top: 20px;
}

#loginform input[type="email"],
#loginform input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loginform input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #1d6154;
  color: #fff;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

.forgotPassword {
  text-align: center;
  margin-top: 10px;
}

.forgotPassword a {
  color: #3d3d3d;
  text-decoration: none;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

/* Classes utilitaires */
.hidden {
  display: none;
}
